.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    margin-top: 1%;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    background-color: #01386a;
}

.about-us .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

}

.about-us .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px;

}

.left .abtus-h{
    font-size: 50px;
    color: #f2f2f2;
}

.left .abtus-p{
    font-size: 20px;
    color: #f2f2f2;
    padding-top: 15px;
    text-align: justify;

}

.right .grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 600px ;
    height: 600px;
    /* grid-template-columns: 1fr 1fr 1fr ; */
    grid-column-gap: 60px ;
    grid-row-gap: 50px ;
   
}

.right .grid-container .item {
    background-color: rgba(43, 41, 41, 0.441);
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.right .grid-container .item:nth-of-type(1){
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aqua;
}

.right .grid-container .item:nth-of-type(2){
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(161, 20, 152);
}

.right .grid-container .item:nth-of-type(3){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(77, 156, 89);
}

.right .grid-container .item:nth-of-type(4){
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(156, 77, 77);
}

.right .grid-container .item:nth-of-type(5){
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(77, 148, 156);
}

.right .grid-container .item:nth-of-type(6){
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(152, 156, 77);
}
.right .grid-container .item:nth-of-type(7){
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(77, 77, 156);
}


.right .grid-container .item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



@media(max-width: 1170px){

    .left .abtus-h{
        font-size: 50px;
        color: #f2f2f2;
    }

    .left .abtus-p{
        font-size: 15px;
        color: #f2f2f2;
        padding-top: 15px;
        text-align: justify;
    
    }

}


@media(max-width: 1100px){

    .about-us{
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 0 20px 0 20px; */
    }
    
    .about-us .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-us .left h1{
        min-width: 250px;
    }

    .about-us .left p{
        min-width: 220px;
    }

    .about-us .right{
        padding-left: 20px;
    }
   

    .right .grid-container{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 400px ;
        height: 400px;
        grid-column-gap: 60px ;
        grid-row-gap: 30px ;
       
    }

    .right .grid-container .item:nth-of-type(1){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: aqua;
    }
    
    .right .grid-container .item:nth-of-type(2){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: rgb(161, 20, 152);
    }
    
    .right .grid-container .item:nth-of-type(3){

        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgb(77, 156, 89);
    }
    
    .right .grid-container .item:nth-of-type(4){

        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgb(156, 77, 77);
    }
    
    .right .grid-container .item:nth-of-type(5){
        display: none;
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgb(77, 148, 156);
    }
    
    .right .grid-container .item:nth-of-type(6){
        display: none;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
        background-color: rgb(152, 156, 77);
    }
    .right .grid-container .item:nth-of-type(7){
        display: none;
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
        background-color: rgb(77, 77, 156);
    }

}


@media(max-width:800px){
    .about-us{
        display: flex;
        flex-direction: column; 
        justify-content: space-around;   
    }

    .about-us .right{
        width: 40%;
        height: 40%;
    }

    .right .grid-container{
        display: none;
        justify-content: center;
        align-items: center;
        width: 100px ;
        height: 100px;
       
    }


    .right .grid-container .item:nth-of-type(2){
        display: none;
    }
    
    .right .grid-container .item:nth-of-type(3){
        display: none;
    }
    
    .right .grid-container .item:nth-of-type(4){

        display: none;
    }
}




