@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-blue: #01386a;
    --secondary-blue: #0094c1;
    --bg: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', sans-serif;
}

section{
    max-height: 100vh;
    
}