.carousal{
  /* height: 100vh; */
  width: 100%;
  background-color: #f2f2f2;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disorder{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disorder-h{
  text-align: center;
  font-size: 55px;
  color: #01386a;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 10px 0;
  min-height: 400px;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content{
  margin: 0 120px;
  overflow: hidden;
  border-radius: 25px;
  height: 350px;

}

.swiper-backface-hidden .swiper-slide {
  height: 300px !important;
}

.card{
  border-radius: 25px;
  background-image: linear-gradient(#01386a,#0094c1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 20px;
  color: white;
  height: 330px;
  
}


.name{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.description{
  text-align: justify;
  font-size: 17px;

}

.example{
  text-align: justify;
  font-size: 17px;
}

.swiper-navBtn{
  color: #01386a;
  transition: color 0.3s ease;

}

.swiper-navBtn:hover{
  color: #0094c1;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 60px;
}

.swiper-button-prev{
  left: 60px;
}

.swiper-pagination-bullet{
  background-color: #0094c1;
  opacity: 1;
  bottom: 0px !important;
  margin-bottom: 5px !important;
}

.swiper-pagination-bullet-active{
  background-color: #01386a;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 30px;
  }
  .swiper-navBtn{
    display: none;    
  }

}


@media screen and (max-width: 519px) {
  .slide-content{
    width: 300px;
    margin: 0 70px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media (max-width : 425px){

  .disorder-h{
    font-size: 45px;
  }

  .slide-content{
    margin: 0 30px;
    overflow: hidden;
    border-radius: 25px;
    height: 350px;
  
  }
  
}

@media (max-width : 375px){

  .disorder-h{
    font-size: 40px;
  }
  
}