.carousal{
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disorder{
  width: 50%;
}

.disorder-h{
  text-align: center;
  font-size: 50px;
  color: #01386a;
}

.disorder-p{
  padding-top: 30px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  color: #333333cc;
  
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 10px 0;
  min-height: 310px;
  margin: 30px;
}

.slide-content{
  margin: 0 120px;
  overflow: hidden;
  border-radius: 25px;
  height: 270px;

}

.card{
  border-radius: 25px;
  background-image: linear-gradient(#01386a,#0094c1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 30px;
  color: white;
  
}

.name{
  font-size: 19px;
  font-weight: 600;

}

.description{
  font-size: 15px;
  text-align: justify;

}

.example{
  font-size: 15px;
  text-align: justify;
}

.swiper-navBtn{
  color: #01386a;
  transition: color 0.3s ease;

}

.swiper-navBtn:hover{
  color: #0094c1;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 60px;
}

.swiper-button-prev{
  left: 60px;
}

.swiper-pagination-bullet{
  background-color: #0094c1;
  opacity: 1;
  bottom: 0px !important;
}

.swiper-pagination-bullet-active{
  background-color: #01386a;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 30px;
  }
  .swiper-navBtn{
    display: none;
  }
}


@media screen and (max-width: 519px) {
  .slide-content{
    margin: 0 70px;
  }
  .swiper-navBtn{
    display: none;
  }
}