nav{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px 0.5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left:0;
    right: 0;    
    background-color: #ffffff;
    z-index: 10;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding-top: 5px;
    width: 60px;
    height: 60px;
    margin-right: 4px;
}

.logo-name{
    text-decoration: none;
    color: #01386a;
    font-size: larger;
    font-weight:700;
    padding-left: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px; 
    list-style-type: none 
}


.options a{
    text-decoration: none;
    padding: 8px 20px;
    color: #01386a;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
}

.mid a:hover{
    color: #ffffff;
    background-color: #0094c1;
}

.right .btn{
    background-color: #01386a;
    color:white;
    font-weight: 600;
    font-size:medium;
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
}

.right button:hover{
    background-color: #0094c1;
    color: #000000;
    transition: 0.4s;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger span{
    margin: 2px;
    display: block;
    height: 6px;
    width: 30px;
    background-color: #01386a;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}


@media(max-width: 800px){

    .options{
        display:none;
    }

    .hamburger{
        display:block;
    }

    .options.show-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        background-color: #01386a;
        height: 130px;
        right: 0px;
        top: 80px;
        padding: 30px 25px;
        gap:30px
    }

    .options a{
        text-decoration: none;
        padding: 8px 20px;
        color: #dfdfdf;
        font-weight: 500;
        text-align: center;
        border-radius: 15px;
    }

    .right button{
        padding: 8px 15px;
    }
}

#data-modal{
    position: fixed;
    bottom: 20%;
    top: 25%;
    border-radius: 15px;
    border: none;
    padding: 40px 50px;
    background-image: #f2f2f2;
    z-index: 9999;
    margin: auto auto;
}

.book-counselling label{
    text-align: center;
    font-size: 18px;
    color: #01386a;
    font-weight:bold;
}

.book-counselling h2{
    text-align: center;
    color: #01386a;
}

.book-counselling input{
    height: 24px;
    width: 200px;
    border-color: #01386a;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px;
}

.book-counselling #data-next-modal{
    margin-top: 10px;
    margin-left: 20%;
    background-color: #01386a;
    color: #f2f2f2;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

.book-counselling #data-next-modal:hover{
    background-color: #0094c1;
}

#data-modal2{
    position: fixed;
    bottom: 30%;
    top: 34%;
    border-radius: 15px;
    border: none;
    padding: 30px 40px;
    background-image: #f2f2f2;
    z-index: 9999;
    margin: auto auto;
    filter: blur(4);   
}

.book-confirmation h2{
    text-align: center;
    margin: 0 auto;
}

#data-close-modal {
    background-color: #5252526c;
    color: #0000008d;
    margin-top: 12px;
    margin-left: 5%;
    display: inline-flex;
    padding: 7px 12px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#data-close-modal:hover {
    background-color: #6a6a6a;
    color: #ffffff6c;
    margin-top: 12px;
    margin-left: 5%;
    display: inline-flex;
    padding: 7px 12px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.495);
  }

@media(max-width: 470px){
    nav .left .logo-name {
        display: none;
    }

    #data-modal{
        padding: 5px auto;
        width: 600px;
        padding: 25px 0 25px 45px;
    }

    .book-counselling input{
        width: 200px;
        padding: 0 10px;
    }

    .book-counselling button{
        width: 100px;
        margin-left: 28%;
    }
}

@media(max-width: 425px){

    

    .logo-name{
        font-size: 19px;
        font-weight:700;
        padding-left: 5px;
    }

    .right .btn{
        font-weight: 600;
        font-size:14px;
        padding: 7px 18px;

    }

}

@media(max-width: 375px){

    .logo{
        padding-top: 5px;
        width: 52px;
        height: 52px;
        margin-right: 0px;
    }

    .logo-name{
        font-size: 18px;
        font-weight:700;
        padding-left: 3px;
    }

    .right .btn{
        font-weight: 550;
        font-size:13px;
        padding: 5px 14px;
        margin-left: 2px;
        margin-right: 1px;

    }

    .hamburger span{
        margin: 2px;
        height: 5px;
        width: 25px;
  
    }

}


