nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px 0.5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left:0;
    right: 0;    
    background-color: #ffffff;
    z-index: 10;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 75px;
    height: 75px;
}

.logo-name{
    text-decoration: none;
    color: #01386a;
    font-size: larger;
    font-weight:700;
    padding-left: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px; 
    list-style-type: none 
}


.options a{
    text-decoration: none;
    padding: 8px 20px;
    color: #01386a;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
}

.mid a:hover{
    color: #ffffff;
    background-color: #0094c1;
}

.right .btn{
    background-color: #01386a;
    color:white;
    font-weight: 600;
    font-size:medium;
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
}

.right button:hover{
    background-color: #0094c1;
    color: #000000;
    transition: 0.4s;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger span{
    margin: 2px;
    display: block;
    height: 6px;
    width: 30px;
    background-color: #01386a;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}


@media(max-width: 800px){

    .options{
        display:none;
    }

    .hamburger{
        display:block;
    }

    .options.show-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        background-color: #01386a;
        height: 130px;
        right: 0px;
        top: 80px;
        padding: 30px 25px;
        gap:30px
    }

    .options a{
        text-decoration: none;
        padding: 8px 20px;
        color: #dfdfdf;
        font-weight: 500;
        text-align: center;
        border-radius: 15px;
    }

    .right button{
        padding: 8px 15px;
    }
}

#data-modal{
    position: sticky;
    bottom: 30%;
    left: 36%;
    border-radius: 15px;
    border: none;
    padding: 40px 50px;
    background-image: #f2f2f2;
    z-index: 9999;
}

.book-counselling label{
    text-align: center;
    font-size: 18px;
    color: #01386a;
    font-weight:bold;
}

.book-counselling h2{
    text-align: center;
    color: #01386a;
}

.book-counselling input{
    height: 24px;
    width: 200px;
    border-color: #01386a;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px;
}

.book-counselling button{
    margin-top: 10px;
    margin-left: 35%;
    background-color: #01386a;
    color: #f2f2f2;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

.book-counselling button:hover{
    background-color: #0094c1;
}

#data-modal2{
    position: sticky;
    bottom: 40%;
    left: 38%;
    border-radius: 15px;
    border: none;
    padding: 40px 50px;
    background-image: #f2f2f2;
    z-index: 9999;
}

.book-confirmation h2{
    text-align: center;
}

.book-confirmation button{
    width: 60px;
    background-color: #01376a;
    color: #f2f2f2;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}



